$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    //margin-bottom: 30px;
  }
}

html, body {
    height: 100%;
}

mapContainer {
    height: 100%;
}

.legendContainer {
    max-width: 40%;
    max-height: 80%;
    position: absolute;
    top: 110px;
    right: 10px;
}

.scroll {
   overflow: auto;
}
.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;        
}    
.scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}	

.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 80%;
}

/*.modal-content {
    max-height: 100%;
}*/

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    height: calc(100% - 120px);
}

.left {
    float: left;
    margin-right: 5px;
}

.row-hover:hover {
  background-color: lightgrey;
}

.layer-list {
    width:96%;
    margin-left: 2%;
    margin-right: 2%;
}

.layer-column {
    width: 10%;
    text-align: center;
}

.layer-title {
    width: 80%;
}