spring:
    profiles.active: default
---
spring:
    profiles: default
spring.datasource:
    url: jdbc:postgresql://localhost:5432/topsat
#    url: jdbc:postgresql://ec2-54-72-232-23.eu-west-1.compute.amazonaws.com:5432/topsat
    username: admin
    password: admin_password
    maxActive: 20
    maxIdle: 20 
spring.jpa:
    show-sql: true
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisDialect
api:
    sentinal-file-path: /home/felix/scihub
    landsat-file-path: /mnt/filestore/landsat/downloads
#spring.jpa.hibernate: 
#    ddl-auto: update
#    database-platform: org.hibernate.spatial.dialect.postgis.PostgisDialect
#    show-sql: false
