<main id="content" role="main">
    <h2 id="roadmap" class="heading-large">Roadmap</h2>
    <div>
        <p>
            The roadmap contains the changes which have been requested from one 
            or more users. These are the candidate changes for development 
            cycles of the node. 
        </p>
        <p>
            For more information on contributing to the development of the 
            node, please click on the 'feedback' or 'contact' links on the 
            homepage.
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">Area</th>
                    <th scope="col">Item</th>
                    <th scope="col">Details</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Iteration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in roadmap">
                    <td>{{item.area}}</td>
                    <td>{{item.item}}</td>
                    <td>{{item.details}}</td>
                    <td>{{item.progress}}</td>
                    <td>{{item.iteration}}</td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</main>
<div style="clear:both;"></div>