<main id="content" role="main">
    <h1 class="govuk-title">Earth Observation Centre of Excellence Pilot Collaboration Node</h1>
    <p>
        This portal has been created to share earth observation data and other 
        widely used geographic information (GI) datasets across the DEFRA 
        Group. This is to save time and money by managing and delivering these 
        large datasets centrally, rather than by each individual member. 
    </p>
    <p>
        <span style="color:red">The portal is in the very early stages of development</span> 
        and we need your help to make it fit for your purpose. As you use this 
        portal, please send us your comments on how to improve the service you 
        receive. We welcome your comments on any aspect of the system: 
        functionality, content, interface and layout, and we will feed these 
        into the development and release cycle (see 
        <a href="/#/roadmap">Roadmap</a>). 
    </p>   
    <p>
        The data contained within this portal can be accessed through this 
        online interface, through the API, or through OGC services (data 
        streaming and download to local servers, GI software, and other data 
        nodes or portals).
    </p>
    <br/>
    <a class="button button-start" href="/#/data" role="button">Start now</a>
    <br/>
    <br/>
</main>