<main id="content" role="main">
    <br/>
    <h4 id="about" class="heading-small">About the node</h4>
    <div>
        <p>
            This portal has been created to share earth observation data and 
            other widely used geographic information (GI) datasets across the 
            DEFRA Group. Delivering centrally managed datasets is expected to 
            save time and money as group members will not have to manage these 
            large datasets in-house. The node will also allow for cloud-hosted 
            data processing facilities which should enable larger scale data 
            processing which again does not have to be hosted and managed 
            through local infrastructure; the outputs of which can be readily 
            shared where appropriate.
        </p>
        <p>
            <span style="color:red; font-weight: bold;">
                The portal is in the very early stages of development
            </span> 
            and will be developed through user feedback and discussion with the 
            node development team. Users should therefore be aware that this 
            site will undergo rapid development of both content and 
            functionality is in progress. There will also be changes to the 
            interface. Proposals for change have been captured in the 
            <a href="/#/roadmap">Roadmap</a>. 
        </p>
        <p>
            Users should also be aware that there are a number of EO data 
            portals, both live and in development, which are acquiring similar 
            EO datasets. Where the cost of managing a dataset becomes greater 
            than an external service delivering the same product, this service 
            will no longer supply the data. Therefore this node will be 
            influenced by competing services and will only continue as long as 
            there is justification for the investment.
        </p>
    </div>
    <h4 id="background" class="heading-small">Background</h4>
    <div>
        <p>
            The node is a product of the Earth Observation Centre of Excellence 
            (EOCoE); DEFRA and the UK Space Agency jointly agreed a 'road map' 
            for realising benefits from earth observation data. The EOCoE looks 
            to maximise on potential benefits from applying earth observation 
            data, as received from the European Space Agency/European 
            Commission's Copernicus initiative, and is running 11 
            investigations to this end. This node will capture EO data from 
            various sources: ESA satellites, satellites hosted by individual 
            member states, UK in-situ sensors.   
        </p>
        <p>
            This node will also help to share key GI datasets across DEFRA; in 
            line with DEFRA's GI strategy. The DEFRA group all require access 
            to satellite data, cartographic data, and other GI datasets, and at 
            present will largely manage individual copies of each dataset 
            locally. There is a significant overlap in the specific datasets 
            managed by each member of the group; this node will enable central 
            management and deployment of key datasets, reducing management 
            costs and improving consistency (dataset versioning).
        </p>
    </div>    
    <br/>
</main>
<div style="clear:both;"></div>