<div style="height: 100%">
    <div class="mapContainer" style="height: calc(100% - 348px);" ng-style="mapStyle">
        <tm-map-component parameters="pageParameters" on-update-parameters="parameterUpdate(newParameters)" toggle-filters="toggleFilters()">
        </tm-map-component>    
    <!-- Data Grids --> 
    </div>
        <div class="filters" ng-switch="pageParameters.dataParameters.layer" ng-show="showFilters">
        <div ng-switch-when="sentinel">
            <tm-sentinel-filter parameters="pageParameters" on-update-parameters="parameterUpdate(newParameters)" toggle-filters="toggleFilters()"></tm-sentinel-filter>
        </div>
    </div>
    <div class="dataGrids" ng-switch="pageParameters.dataParameters.layer">
            <div ng-switch-when="sentinel">
                <tm-sentinel-datagrid parameters="pageParameters"></tm-sentinel-datagrid>
            </div>
            <div ng-switch-when="landsat" ng-controller="landsatDatagridCtrl"> 
                <div class="map-datagrid" ui-grid-pagination ui-grid-resize-columns ui-grid="gridConfig"></div>
            </div>
    </div>
</div>