<div style="height: 100%">
    <div class="mapContainer" style="height: calc(100% - 348px);" ng-style="mapStyle">
        <tm-map-component parameters="pagectrl.pageParameters" toggle-filters="pagectrl.toggleFilters()">
        </tm-map-component>    
    
    </div>
        <div class="filters" ng-switch="pagectrl.pageParameters.dataParameters.layer" ng-show="pagectrl.showFilters">
        <div ng-switch-when="sentinel">
            <tm-sentinel-filter parameters="pagectrl.pageParameters" toggle-filters="pagectrl.toggleFilters()"></tm-sentinel-filter>
        </div>
    </div>
    <div class="dataGrids" ng-switch="pagectrl.pageParameters.dataParameters.layer">
            <div ng-switch-when="sentinel">
                <tm-sentinel-datagrid parameters="pagectrl.pageParameters"></tm-sentinel-datagrid>
            </div>
            <div ng-switch-when="landsat" ng-controller="landsatDatagridCtrl"> 
                <div class="map-datagrid" ui-grid-pagination ui-grid-resize-columns ui-grid="gridConfig"></div>
            </div>
    </div>
</div>