<div style="height: 100%">
    <div class="mapContainer" style="height: calc(100% - 348px);" ng-style="mapStyle">
        <tm-map-component parameters="pageCtrl.pageParameters" toggle-filters="pageCtrl.toggleFilters()">
        </tm-map-component>    
    </div>
    
    <div class="filters" ng-switch="pageCtrl.layerConfig.name" ng-show="pageCtrl.showFilters">
        <div ng-switch-when="sentinel">
            <tm-sentinel-filter parameters="pageCtrl.pageParameters" toggle-filters="pageCtrl.toggleFilters()"></tm-sentinel-filter>
        </div>
        <div ng-switch-when="landsat">
            <tm-landsat-filter parameters="pageCtrl.pageParameters" toggle-filters="pageCtrl.toggleFilters()"></tm-landsat-filter>
        </div>
    </div>
    <div class="dataGrids" ng-switch="pageCtrl.layerConfig.name">
        <div ng-switch-when="sentinel">
            <tm-sentinel-datagrid parameters="pageCtrl.pageParameters"></tm-sentinel-datagrid>
        </div>
        <div ng-switch-when="landsat"> 
            <tm-landsat-datagrid parameters="pageCtrl.pageParameters"></tm-landsat-datagrid>
        </div>
    </div>
</div>