<div style="height: 100%">
    <div class="mapContainer" style="height: calc(100% - 348px);" ng-style="mapStyle" ng-controller="mapElementController">
    <div id="leafletContainer" style="height: 100%;">
        <leaflet bounds="bounds" layers="layers" controls="controls" markers="markers" width="100%" height="100%" ></leaflet>
    </div>
    
    <div id="legend" ng-show="showLegend" class="legendContainer check-element animate-show scroll">
        <h4>Legend</h4>
        <img ng-src="{{layer.base}}?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{layer.name}}&legend_options=forceLabels:on" class="img-responsive" style="max-height: 100%;" alt="Legend Graphic"/>
    </div>
    
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-main"></span>

    <script type="text/ng-template" id="getFeatureInfo.html">
        <div class="modal-header">
            <h3 class="modal-title">Feature Info</h3>
        </div>
        <div class="modal-body scroll">
            <div ng-if="!data.length">
                <span>No features found at this location</span>
            </div>
            <div ng-if="data.length">
                <dir-pagination-controls></dir-pagination-controls>
                <div dir-paginate="feature in data | itemsPerPage: 1">
                    <ul>
                        <li ng-repeat="(key, data) in feature.properties">{{key}}: {{data}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="button" type="submit" ng-click="ok()" value="OK" />
        </div>
    </script>
    <script type="text/ng-template" id="getLayerInfo.html">
        <div class="modal-header">
            <h3 class="modal-title">{{data.layer.title}}</h3>
        </div>
        <div class="modal-body scroll">
            <p>Abstract: {{data.layer.abstract}}</p>
            <br/>
            <p>Service URL: {{data.layer.base}}</p>
            <p>WMS Version: {{data.layer.version}}</p>
            <p>Layer Name: {{data.layer.name}}</p>
            <p>Get Capabilities URL: {{data.capabilities}}</p>
            
            
        </div>
        <div class="modal-footer">
            <input class="button" type="submit" ng-click="ok()" value="OK" />
        </div>
    </script>    
    <script type="text/ng-template" id="showOGCLayers.html">
        <div class="modal-header">
            <h3 class="modal-title">Layers</h3>
        </div>
        <div class="modal-body scroll">          
            <div id="list" ng-class="{'hidden': displayLayerInfo}">
                <table>
                    <thead>
                        <tr>
                            <th class="layer-title">Layer Name</th>
                            <th class="layer-column">WMS</th>
                            <th class="layer-column">WFS</th>
                        </tr>
                    </thead>
                    <tbody dir-paginate="layer in data.srcLayers | itemsPerPage: 10">
                        <tr ng-click="selLayer(layer)" class="row-hover">
                            <td class="layer-title">{{layer.title}}</td>
                            <td class="layer-column">
                                <span ng-if="layer.wms !== undefined" class="glyphicon glyphicon-ok"></span>
                                <span ng-if="layer.wms === undefined" class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td class="layer-column">
                                <span ng-if="layer.wfs !== undefined" class="glyphicon glyphicon-ok"></span>
                                <span ng-if="layer.wfs === undefined" class="glyphicon glyphicon-remove"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls></dir-pagination-controls>
            </div>
            <div id="layer" ng-class="{'hidden': !displayLayerInfo}">
                <table>
                    <tr>
                        <th>Layer Title</th>
                        <td>{{layer.title}}</td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                        <td>{{layer.abstract}}</td>
                    </tr>
                    <tr >
                        <th rowspan="2">Bounding Box</th>
                        <td>South : {{layer.wms.EX_GeographicBoundingBox.southBoundLatitude}}, West : {{layer.wms.EX_GeographicBoundingBox.westBoundLongitude}}</td>
                    </tr>
                    <tr>
                        <td>North : {{layer.wms.EX_GeographicBoundingBox.northBoundLatitude}}, East : {{layer.wms.EX_GeographicBoundingBox.eastBoundLongitude}}</td>
                    </tr>
                    <tr>
                        <th>Layer Name</th>
                        <td>{{layer.name}}</td>
                    </tr>
                </table>
            </div>            
        </div>
        <div class="modal-footer">
            <input class="button left" ng-class="{'hidden': !displayLayerInfo}" type="submit" ng-click="back()" value="Back" />
            <input class="button left" ng-class="{'hidden': !displayLayerInfo}" type="submit" ng-click="add()" value="View Layer" />
            <input class="button" type="submit" ng-click="ok()" value="Close" />
        </div>
    </script>   
    </div>
    <!-- Data Grids -->  
    <div class="dataGrids" ng-switch="pageParameters.l">
            <div ng-switch-when="EODIP:sentinelview" ng-controller="sentinelDatagridCtrl">
                sdg
                <div class="map-datagrid" ui-grid-pagination ui-grid-resize-columns ui-grid="gridOptions"></div>
            </div>
            <div ng-switch-when="EODIP:landsat_coverage" ng-controller="landsatDatagridCtrl"> 
                <div class="map-datagrid" ui-grid-pagination ui-grid-resize-columns ui-grid="gridOptions"></div>
            </div>
    </div>
</div>