<main id="content" role="main">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-main"></span>
    <div id="list" ng-class="{'hidden': displayLayerInfo}">
        <table>
            <thead>
                <tr>
                    <th class="layer-title">Layer Name</th>
                    <th class="layer-column">WMS</th>
                    <th class="layer-column">WFS</th>
                </tr>
            </thead>
            <tbody dir-paginate="layer in srcLayers | itemsPerPage: 10">
                <tr ng-click="selLayer(layer)" class="row-hover">
                    <td class="layer-title">{{layer.title}}</td>
                    <td class="layer-column">
                        <span ng-if="layer.wms !== undefined" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="layer.wms === undefined" class="glyphicon glyphicon-remove"></span>
                    </td>
                    <td class="layer-column">
                        <span ng-if="layer.wfs !== undefined" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="layer.wfs === undefined" class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
    <div id="list" ng-class="{'hidden': !displayLayerInfo}">
        <table>
            <tr>
                <th>Layer Title</th>
                <td>{{layer.title}}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{layer.abstract}}</td>
            </tr>
            <tr>
                <th rowspan="2">Bounding Box</th>
                <td>South : {{layer.wms.EX_GeographicBoundingBox.southBoundLatitude}}, West : {{layer.wms.EX_GeographicBoundingBox.westBoundLongitude}}</td>
            </tr>
            <tr>
                <td>North : {{layer.wms.EX_GeographicBoundingBox.northBoundLatitude}}, East : {{layer.wms.EX_GeographicBoundingBox.eastBoundLongitude}}</td>
            </tr>
            <tr>
                <th>Layer Name</th>
                <td>{{layer.name}}</td>
            </tr>
        </table>
        <div class="modal-footer">
            <input class="button left button-back" ng-class="{'hidden': !displayLayerInfo}" type="submit" ng-click="back()" value="Back" />
            <input class="button button-start" type="submit" ng-click="add()" value="View Layer" />
        </div>
    </div>
    <div>
        <h4 id="contributing" class="heading-small">Contributing data to the node</h4>
        <p>
            If you have a dataset which would be useful to the DEFRA Group, is 
            available under Open Government Licence or could be licensed for 
            use by the DEFRA Group, then please get in touch to discuss adding 
            it to the portal. In order to add a dataset to the portal we will 
            need the following:
        </p>
        <ol class="list list-number">
            <li>The dataset</li>
            <li>Dataset metadata (ideally in Gemini II format)</li>
            <li>Styling file for displaying the data ie layer file, stylesheet.</li>
            <li>Licensing covering the DEFRA Group and contractors, either under OGL or proprietary licence.</li>
        </ol>
        <p>
            Also this note on licensing: <br/> To note: Some of these datasets 
            are available for use under the Open Government Licence, and some 
            come with more stringent use restrictions. More information on data 
            use will be made available soon through dataset metadata and the 
            download facility.
        </p>
    </div>
</main>