<main id="content" role="main">
    <h1 class="govuk-title">Feedback</h1>
    <p>The node, as it exists, is a limited test node and is subject to a development cycle:</p>
    <ol class="list list-number">
        <li>Secure time from GI users</li>
        <li>
            User considers different scenarios for using the node, then tests 
            the scenarios practically through the available services and the 
            interface.
        </li>
        <li>
            Discussion around findings, between user and node team through an 
            interview, covering:
        </li>
        <li class="list-no-point">
            <ol class="list-alpha">
                <li>what the user found to be the node’s strengths;</li>
                <li>what the user found to be the node’s weaknesses;</li>
                <li>
                    ideas for improvement of the node, what developments could 
                    help to save users time; and
                </li>        
                <li>thoughts on priorities for all discussed changes</li>
            </ol>
        </li>
        <li value="4">
            The required changes would then be prioritised and a limited number 
            would be scheduled for development.
        </li>
    </ol>
    <p>
        Any comments on the node for consideration within the first development 
        cycle need to be made by Friday 26 February, as the first development 
        cycle is scheduled to complete 11-18 March. 
    </p>
    <p>
        Please get in touch with us using the email address below if you can 
        work through the node and contribute ideas on improving it, for your 
        individual and organisational use.
    </p>
    <p>
        <a href="mailto:eodipnodefeedback@jncc.gov.uk">
           eodipnodefeedback@jncc.gov.uk
        </a>
    </p>
    <br/>
</main>