<main id="content" role="main">
    <h1 class="govuk-title">Feedback</h1>
    <p>
        The node, as it exists, is in its very first iteration. We now require 
        user feedback to help us improve the service, in order to meet your 
        needs. If you can contribute ideas or comments on the node then please 
        do so using the email address below. We are particularly interested in 
        the following areas:
    </p>
    <ol class="list list-number">
        <li>what the user found to be the node’s strengths;</li>
        <li>what the user found to be the node’s weaknesses;</li>
        <li>
            ideas for improvement of the node, what developments could 
            help to save users time; and
        </li>        
        <li>thoughts on priorities for all discussed changes</li>
    </ol>
    <p>
        In addition to comments relating to your organisation’s specific use 
        and requirements, we are interested in feedback relating to particular 
        scenarios being practically tested through the available services and 
        the interface, for example access to a satellite dataset through the 
        API.
    </p>
    <p>
        We are looking to further develop the node with an initial set of 
        priorities from user comments in April, and therefore require your 
        comments on this version of the node by Friday 18 March 2016. Existing 
        proposals for the node have been captured in the 
        <a href="/#/roadmap">RoadMap</a>.
    </p>
    <p>
        Please get in touch with us using the email address below if you can 
        contribute ideas on improving the node, for your individual and 
        organisational use.
    </p>
    <p>
        <a href="mailto:eodipnodefeedback@jncc.gov.uk">
           eodipnodefeedback@jncc.gov.uk
        </a>
    </p>
    <br/>
</main>