<div style="max-height: 90%">
<slick dots=true slides-to-show=1 centerMode="true" id="qgis">
    <div id="qgis-step-1">
        <img src="/images/qgis/wms_icon.png" alt="QGIS WMS Icon" />
        <p>Click on the 'Add WMS/WMTS Layer' button on the add layer toolbar, or select the option from the Layer -> Add Layer menu</p>
    </div>
    <div id="qgis-step-2">
        <img src="/images/qgis/add_layer_window.png" alt="QGIS Add WMS Layer Window" />
        <p>Click on the 'New' button to add a new WMS server to QGIS</p>
        <p>Note: You will only have to do this step once, if you have already added the WMS server continue to step 4</p>
    </div>
    <div id="qgis-step-3">
        <img src="/images/qgis/new_wms_connection.png" alt="QGIS New WMS Connection Window" />
        <ol>
            <li>Add a name for this WMS connection, this can be anything</li>
            <li>Add the Get Capabilities URL of the server you wish to connect to, you can find this by clicking on the layer on the main screen or by clicking the <span class="glyphicon glyphicon-globe"></span> button while viewing the layer on the map screen</li>
        </ol>
    </div>
    <div id="qgis-step-4">
        <img src="/images/qgis/add_layer_window_connect.png" alt="QGIS Add WMS Layer Window Connect" />
        <p>Select the WMS server you wish to connect to from the drop down list and then click the connect button</p>
    </div>
    <div id="qgis-step-5">
        <img src="/images/qgis/add_layer_window_add_data.png" alt="QGIS Add WMS Layer Window Select Layer" />
        <p>Select the layer you wish to display from the list that appears and click the add button to add the layer into your current view</p>
    </div>
</slick></div>