<div class="mapContainer" style="height: 100%;">
    <div id="leafletContainer" style="height: 100%;">
        <leaflet bounds="bounds" layers="layers" markers="markers" width="100%" height="100%"></leaflet>
    </div>

    <div ng-scrollable id="legend" ng-show="showLegend" class="legendContainer check-element animate-show">
        <h4>Legend</h4>
        <img ng-src="{{layer.base}}?service=WMS&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{layer.name}}" class="img-responsive" style="max-height: 100%;" alt="Legend Graphic"/>
    </div>

    <div id="getFeatureInfo" ng-show="showGetFeatureInfo">
        <div ng-if="features === []">
            
        </div>
        <div ng-if="features !== []">
            <div dir-paginate="feature in features | itemsPerPage: 1">
                <ul>
                    <li ng-repeat="(key, data) in feature.properties">{{key}}: {{data}}</li>
                </ul>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>