<main id="content" role="main">
    <h1 class="govuk-title">Terms and Conditions</h1>
    <p>
        User should be aware that although a number of the datasets available 
        through this node are widely available under the Open Government 
        Licence, some are only available under proprietary licence with specific 
        terms and conditions. Before you were granted access to the node you 
        will have signed a series of licence agreements. These agreements 
        contain specific use restrictions which must be considered and abided 
        by when using the data.
    </p>
    <p>
        The datasets metadata will also detail use constraints, and will be made 
        available in due course.
    </p>
    <p>
        The intention of this node is for sharing data across the DEFRA group, 
        and its contractors and partners. Data can only be held within this node 
        therefore, where it can be licensed for both circumstances, with either 
        open or restricted use constraints.
    </p>
    <p>
        Not all datasets have licensing terms that meet this standard and this 
        project is considering how to share more key datasets in this manner.    
    </p>
    <br/>
</main>