<div style="height: 100%">
    <leaflet id="topsat" controls="controls" bounds="bounds" layers="layers"></leaflet>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-main"></span>
    <div class="slide" ng-show="showResults">    
        <table width="100%">
            <thead>
                <th>Id</th>
                <th>WRS2 Path</th>
                <th>WRS2 Row</th>
                <th>Capture Date</th>
                <th>Cloud Cover</th>
            </thead>
            <tr dir-paginate="item in data.landsat.page._embedded.landsatSceneResourceList | itemsPerPage: data.landsat.page.page.size" total-items="data.landsat.page.page.totalElements" current-page="data.landsat.page.currentpage">
                <td>{{ item.guid }}</td>
                <td>{{ item.wrs2.path }}</td>
                <td>{{ item.wrs2.row }}</td>
                <td>{{ item.captureDate }}</td>
                <td>{{ item.cloudCover }}</td>
            </tr>
        </table>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>